*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive, Tahoma, Verdana, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background: #4D4D4D;
    position: relative;
}
header main footer nav{
    position: relative;
}
header{
    width: 100vw;
    height: 210px;
    background: url(https://i.pinimg.com/564x/30/a0/f7/30a0f76b75598e5ec6cad6d103e4e9d8.jpg) #2A2433  top repeat;
    background-attachment: fixed;
}
nav{
    width: 100vw;
    background-color: #2A2433;
    z-index: 5;
    height: 40px;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    /* This 3 lines of code are about the sticky property */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
main{
    width: calc(100vw - 10px);
    max-width: 100%;
    height: 3000px;
    background-color: #4D4D4D;
    margin: 5px;
    display: flex;
}
.spanNav{ 
    color: white;
    font-size: 25px;
    margin: 0 0 0 10px;
    line-height: 39px;
}
.searchNav{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    top: -4px;
    position: relative;
    margin: 0px 5px;
    border-color: white;
}
.buttonNav{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border-color: white;
    background-color: #2A2433;
    color: white;
    top: -3px;
    position: relative;
    transition-duration: 0.5s;
    transition-property: inherit;
}
.buttonNav:hover{
    background-color: white;
    color: #2A2433;
    border-color: #2A2433;
}
section{
    width: auto;
    height: 800px;
    background-color: #2A2433;
    position: relative;
    display: inline-block;
}
aside{
    width: auto;
    height: 800px;
    background-color: #2A2433;
    position: relative;
    display: inline-block;
    margin-left: 5px;
}
.asideDiv{
    width: 100%;
    height: auto;
    color: #4D4D4D;
    overflow: hidden;
    padding: 5px 20px;
}
.emoji{
    width: 500px;
    height: 500px;
    background-color: yellow;
    border: solid 10px;
    border-radius: 50%;
    margin: 15px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cora1{
    color: red;
    z-index: 3;
    position: relative;
    transform:  translateY(-55px)scale(9);
}
#cora2{
    color: red;
    z-index: 3;
    position: relative;
    transform:  translateY(-55px)translateX(200px)scale(9);
}
.boca{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: 10%;
    right: 3%;
}
.circuloAmarillo{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: 20%;
}
.asideDiv span,h1{
    color: white;
}