*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive, Tahoma, Verdana, sans-serif;
}
body{
    background: #4D4D4D;
}
header main footer nav{
    width: 100%;
    position: relative;
}
header{
    height: 210px;
    background: url(https://i.pinimg.com/564x/30/a0/f7/30a0f76b75598e5ec6cad6d103e4e9d8.jpg) #2A2433  top repeat;
    background-attachment: fixed;
}
nav{
    background-color: #2A2433;
    z-index: 5;
    height: 40px;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    /* This 3 lines of code are about the sticky property */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
main{
    height: 5000px;
    background-color: #4D4D4D;
}
.spanNav{ 
    color: white;
    font-size: 25px;
    margin: 0 0 0 10px;
    line-height: 39px;
}
.searchNav{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    top: -4px;
    position: relative;
    margin: 0px 5px;
    border-color: white;
}
.buttonNav{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border-color: white;
    background-color: #2A2433;
    color: white;
    top: -3px;
    position: relative;
    transition-duration: 0.5s;
    transition-property: inherit;
}
.buttonNav:hover{
    background-color: white;
    color: #2A2433;
    border-color: #2A2433;
}
.divMain{
    height: auto;
    margin: 5px 5px;
    display: flex;
    position: relative;
}
section{
    width: auto;
    height: 800px;
    background-color: #2A2433;
    position: relative;
    display: inline-block;
}
aside{
    width: auto;
    height: 800px;
    background-color: #2A2433;
    position: relative;
    display: inline-block;
    margin-left: 5px;
}
.asideDiv{
    width: 100%;
    height: auto;
    color: #4D4D4D;
    overflow: auto;
    padding: 5px 20px;
}
.emoji{
    width: 500px;
    height: 500px;
    background-color: yellow;
    border: solid 10px;
    border-radius: 50%;
    margin: 15px;
    position: relative;
    z-index: 1;
}
#cora1{
    scale: 9;
    color: red;
    position: relative;
    left: 150px;
    top: 150px;
}
#cora2{
    scale: 9;
    color: red;
    position: relative;
    left: 300px;
    top: 150px;
}
.boca{
    width: 200px;
    height: 200px;
    background-color: black;
    position: absolute;
    left: 140px;
    top: 230px;
    border-radius: 50%;
}
.circuloAmarillo{
    width: 200px;
    height: 200px;
    background-color: yellow;
    z-index: 2;
    position: absolute;
    left: 140px;
    top: 200px;
    border-radius: 50%;
}
.asideDiv span,h1{
    color: white;
}