*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive, Tahoma, Verdana, sans-serif;
}
body{
    background: #4D4D4D;
}
header main footer nav{
    width: 100%;
}
header{
    width: 100%;
    height: 210px;
    background: url(https://i.pinimg.com/564x/30/a0/f7/30a0f76b75598e5ec6cad6d103e4e9d8.jpg) #2A2433  top repeat-x;
}
nav{
    background-color: #2A2433;
    width: 100%;
    height: 40px;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    /* This 3 lines of code are about the sticky property */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
main{
    width: 100%;
    height: 5000px;
    background-color: #4D4D4D;
}
.spanNav{ 
    color: white;
    font-size: 25px;
    margin: 0 0 0 10px;
    line-height: 39px;
}
.searchNav{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    top: -4px;
    position: relative;
    margin: 0px 5px;
    border-color: white;
}
.buttonNav{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border-color: white;
    background-color: #2A2433;
    color: white;
    top: -3px;
    position: relative;
    transition-duration: 0.5s;
    transition-property: inherit;
}
.buttonNav:hover{
    background-color: white;
    color: #2A2433;
    border-color: #2A2433;
}
.divMain{
    width: 1580px;
    height: auto;
    margin: 5px 5px;
    display: inline-block;
}
section{
    width: 1356px;
    height: 800px;
    background-color: #2A2433;
    position: static;
    display: inline-block;
}
aside{
    width: 316px;
    height: 800px;
    background-color: #2A2433;
    position: static;
    display: inline-block;
}
.asideDiv{
    width: 100%;
    height: auto;
    overflow: hidden;
}